html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1001;
}

#map { 
    height: 100%;
    width: 33.3%;
}

#content {
    height: 100%;
    position: relative;
    width: 66.6%;
    display: flex;
    flex-direction: column;
}

#toolbar {
    width: 100%;
    background-color: white;
    padding: 20px;
}

#routes {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: wrap;
    overflow: scroll;
}

.route {
    padding: 20px;
    transition: 0.5s background-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.route h2 {
    margin-top: 0;
}

.current {
    background-color: #99ccff;
}

a {
    color: blue;
}

.links {
    display: flex;
    gap: 0.5em;
}